@font-face {
  font-family: 'Museo Sans 300 Light';
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans 500 Medium';
  src: url("../fonts/MuseoSansCyrl-500.eot");
  src: url("../fonts/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans 700 Bold';
  src: url("../fonts/");
  src: url("../fonts/?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.navbar-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}

.navbar-number p {
  margin: 0;
  font-family: 'Museo Sans 300 Light', sans-serif;
  font-size: 0.7rem;
  text-align: right;
}

.navbar-number p span {
  font-family: 'Museo Sans 700 Bold', sans-serif;
  font-size: 0.9rem;
}

.number-main {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 2vh;
}

.number-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  height: 60%;
}

.navbar-button__main {
  font-family: 'Museo Sans 700 Bold', sans-serif;
  font-weight: bold;
  font-size: 0.7rem;
  background-color: #ffd200;
  border-radius: 10px;
  border: none;
  padding: 0 30px;
}

.container {
  width: 1180px;
  margin: auto;
}

body {
  font-size: 24px;
}

.first-section {
  background-color: #f5f5f5;
  width: 100%;
}

.first_section__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: 400px;
      flex-wrap: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.left-title {
  font-family: 'Museo Sans 700 Bold', sans-serif;
}

.left-title__main {
  font-size: 2.5rem;
  font-weight: bold;
}

.left-title__submain {
  font-size: 1.2rem;
  margin-top: -15px;
  margin-bottom: 90px;
}

.list-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  font-family: 'Museo Sans 300 Light', sans-serif;
}

.list-first__text {
  padding-top: 10px;
  padding-left: 40px;
}

.list-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  font-family: 'Museo Sans 300 Light', sans-serif;
  margin-top: 20px;
}

.list-second__text {
  padding-left: 40px;
}

.list-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  font-family: 'Museo Sans 300 Light', sans-serif;
  margin-top: 20px;
}

.list-third__text {
  padding-left: 40px;
}

.first_section-left {
  width: 50%;
}

.first_section-right {
  width: 50%;
}

.second-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.second-section__img img {
  width: 100%;
}

.second-section__form {
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 90px;
}

.form-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  margin-top: 40px;
}

.form__title {
  font-family: 'Museo Sans 700 Bold', sans-serif;
  font-weight: bold;
  line-height: 1.3;
}

.form__subtitle {
  font-family: 'Museo Sans 300 Light', sans-serif;
  font-size: 1rem;
  margin-bottom: 24px;
}

.form__contacts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  font-family: 'Museo Sans 300 Light', sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

.contacts__tel {
  -ms-grid-column-align: end;
      justify-self: end;
}

.contacts__tel p span {
  font-family: 'Museo Sans 700 Bold', sans-serif;
}

.project__name {
  width: 200px;
  height: 60px;
  border: solid #b0b0b0;
  border-radius: 10px;
  border-width: 1px;
  padding: 0 20px;
  margin-right: 5px;
}

.project__name::-webkit-input-placeholder {
  font-family: 'Museo Sans 300 Light', sans-serif;
  font-size: 1.1rem;
}

.project__name:-ms-input-placeholder {
  font-family: 'Museo Sans 300 Light', sans-serif;
  font-size: 1.1rem;
}

.project__name::-ms-input-placeholder {
  font-family: 'Museo Sans 300 Light', sans-serif;
  font-size: 1.1rem;
}

.project__name::placeholder {
  font-family: 'Museo Sans 300 Light', sans-serif;
  font-size: 1.1rem;
}

.project__tel {
  width: 200px;
  height: 60px;
  border: solid #b0b0b0;
  border-radius: 10px;
  border-width: 1px;
  padding: 0 20px;
}

.project__tel::-webkit-input-placeholder {
  font-family: 'Museo Sans 300 Light', sans-serif;
  font-size: 1.1rem;
}

.project__tel:-ms-input-placeholder {
  font-family: 'Museo Sans 300 Light', sans-serif;
  font-size: 1.1rem;
}

.project__tel::-ms-input-placeholder {
  font-family: 'Museo Sans 300 Light', sans-serif;
  font-size: 1.1rem;
}

.project__tel::placeholder {
  font-family: 'Museo Sans 300 Light', sans-serif;
  font-size: 1.1rem;
}

.project__button {
  background-color: #ffd200;
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 22px 40px;
  font-family: 'Museo Sans 700 Bold', sans-serif;
  font-size: 1rem;
  margin-top: 30px;
}

.third-section {
  margin-top: -6px;
}

.third-section__backgr {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: relative;
}

.third-section__main {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
}

.third-section__title {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Museo Sans 700 Bold', sans-serif;
  line-height: 1.5;
}

.third-section__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.third-section__button {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.colorbox-1 {
  background-image: url(../img/third-section-back.jpg);
  height: 740px;
}

.colorbox-2 {
  height: 740px;
  background-color: #f5f5f5;
}

.slider-img-2 {
  margin: 0 20px;
}

.left-arrow {
  background-image: url(../img/left-arrow.png);
  background-repeat: no-repeat;
  height: 19px;
  width: 45px;
  outline: none;
  border: none;
  background-color: transparent;
}

.right-arrow {
  background-image: url(../img/right-arrow.png);
  background-repeat: no-repeat;
  height: 19px;
  width: 45px;
  outline: none;
  border: none;
  background-color: transparent;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 740px;
  }
  .navbar-logo img {
    width: 30%;
  }
  .navbar-number p {
    font-size: 0.8rem;
  }
  .navbar-number p span {
    font-size: 1rem;
  }
  .number-button {
    height: 80%;
  }
  .navbar-button__main {
    padding: 0 20px;
    font-size: 0.7rem;
  }
  .first_section-right {
    min-width: 100%;
  }
  .first_section-right img {
    width: 100%;
  }
  .first_section-left {
    min-width: 100%;
  }
  .first_section__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .left-title {
    text-align: center;
  }
  .left-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
  }
  .list-first {
    margin-top: 20px;
  }
  .second-section {
    display: block;
    width: 740px;
    margin: auto;
  }
  .second-section__img {
    display: none;
  }
  .second-section__form {
    width: 66vw;
    margin: auto;
  }
  .form__title {
    text-align: center;
  }
  .form__subtitle {
    text-align: center;
  }
  .third-section {
    width: 100%;
  }
  .slider-img-1 {
    display: none;
  }
  .slider-img-2 {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .container {
    width: 350px;
  }
  .number-main {
    display: none;
  }
  .navbar {
    height: 50px;
  }
  .navbar-logo img {
    height: 60%;
    width: 60%;
  }
  .first-section {
    margin-top: 7px;
  }
  .left-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .second-section {
    width: 350px;
  }
  .second-section__form {
    width: auto;
  }
  .project__name {
    width: 305px;
    margin: 0 0 10px 0;
  }
  .project__tel {
    width: 305px;
  }
  .third-section__backgr {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .third-section__slider {
    width: 320px;
    margin: auto;
  }
  .colorbox-1 {
    display: none;
  }
  .slider-img-1 {
    display: none;
  }
  .slider-img-2 {
    display: none;
  }
  .slider-img-3 img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */