@media screen and (max-width: 768px)
    .container
        width: 740px  

    //NavBar
    .navbar-logo
        & img
            width: 30%

    .navbar-number
        & p
            font-size: 0.8rem
            & span
                font-size: 1rem

    .number-button
        height: 80%
    
    .navbar-button__main
        padding: 0 20px
        font-size: 0.7rem

    //First Section
    .first_section
        &-right
            //box-shadow: 1px 0 10px rgba(0, 0, 0, .1)
            min-width: 100% 
            & img
                width: 100%
        &-left
            min-width: 100%

    .first_section__main
        flex-direction: column

       

    .left-title
        text-align: center

    .left-list
        display: flex
        margin-bottom: 30px
    
    .list-first
        margin-top: 20px




    //Second section
    .second-section
        display: block
        width: 740px
        margin: auto
        &__img
            display: none
        &__form
            width: 66vw
            margin: auto

    
    .form
        &__title
            text-align: center
        &__subtitle
            text-align: center
        
            
            

@media screen and (max-width: 420px)
    .container
        width: 350px

    //NavBar
    .number-main
        display: none

    .navbar
        height: 50px

    .navbar-logo
        & img
            height: 60%
            width: 60%

    //First Section

    .first-section
        margin-top: 7px
    
    .left-list
        display: flex
        flex-direction: column
    


    //Second section
    .second-section
        width: 350px
        &__form
            width: auto
    
    .project
        &__name 
            width: 305px
            margin: 0 0 10px 0
        &__tel 
            width: 305px






            
