.second-section
    display: grid
    grid-template-columns: 1fr 1fr
    position: relative
    &__img img
        width: 75%
    
.form-main
    display: flex
    flex-direction: column
    position: absolute
    margin-left: 19vw
    